@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInBackground {
  from { opacity: 0; }
  to { opacity: 1; }
}

.title {
  animation: fadeIn 1s ease-out forwards;
}

.subtitle {
  animation: fadeIn 1.25s ease-out forwards;
}

.tagline {
  animation: fadeIn 1.5s ease-out forwards;
}

.notify {
  animation: fadeIn 2s ease-out forwards;
}
